{%extends "home/nav.html"%}
{%import "ui/admin_page.html" as pg%}
{%block content%}
<div class="container" style="margin-top:76px">
    {%include "home/menu.html"%}
    <div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Comments</h3>
            </div>
            <div class="panel-body">
                <ul class="commentList">
                        {%for v in page_data.items%}
                        <li class="item cl">
                            <a href="{{url_for('home.user',id=v.user.id)}}">
                                <i class="avatar size-L radius">
                                    <img style="width:50px;" src="{{url_for('static',filename='uploads/user/'+v.user.name)}}" class="img-circle" style="border:1px solid #abcdef;">
                                </i>
                            </a>
                            <div class="comment-main">
                                <header class="comment-header">
                                    <div class="comment-meta">
                                        <a class="comment-author">{{v.user.name}}</a>
                                        comments when
                                        <time >{{v.addtime}}</time>
                                    </div>
                                </header>
                                <div class="comment-body">
                                    <p>{{v.content|safe}}</p>
                                </div>
                            </div>
                        </li>
                        {%endfor%}
                    </ul>
                    <div class="col-md-12 text-center">
                       {{pg.page(page_data,'home.comments')}}
                    </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block js%}
 <script>
     $(document).ready(function(){
        $("#m3").addClass("active");
     });

 </script>
{%endblock%}