{%extends "home/nav.html"%}
{%block content%}
<div class="container" style="margin-top:76px">
    {%include "home/menu.html"%}
    <div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Login Log</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width:10%">ID</td>
                        <td style="width:30%">LogIn Time</td>
                        <td style="width:30%">LogIn IP</td>
                        <td style="width:30%">LogIn Addredd</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2017-01-01 12:00:00</td>
                        <td>192.168.4.1</td>
                        <td>云南昆明</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block js%}
 <script>
     $(document).ready(function(){
        $("#m4").addClass("active");
     });

 </script>
{%endblock%}