{%extends "admin/admin.html"%}
{%import "ui/admin_page.html" as pg%}
{%block content%}
  <section class="content-header">
            <h1>微电影管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> tag_management</a></li>
                <li class="active">tag_list</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">tag_list</h3>
                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right"
                                           placeholder="请输入关键字...">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            {%for msg in get_flashed_messages(category_filter=["ok"])%}
                                <div class="alert alert-success alert-dismissible">
                                     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <h4><i class="icon fa fa-check"></i> success!</h4>
                                        {{msg}}
                                </div>
                            {%endfor%}
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>id</th>
                                    <th>name</th>
                                    <th>addtime</th>
                                    <th>edit</th>
                                </tr>
                                {%for msg in page_data.items%}
                                <tr>
                                    <form role="form" method="post">
                                    <td>{{msg.id}}</td>
                                        <input readonly="true" type="hidden"name="id" value="{{msg.id}}">
                                    <td><input type="text" name="name" placeholder="{{msg.name}}"></td>
                                    <td>{{msg.addtime}}</td>
                                    <td>
                                        <button type="submit"class="label label-danger">eidt</button>&nbsp;
                                        <a class="label label-danger" href="{{url_for('admin.tag_delete',id=msg.id)}}">delete</a>
                                    </td>
                                    </form>
                                </tr>
                                {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            {{pg.page(page_data,'admin.tag_list')}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
{%endblock%}