{%macro page(data,url)-%}
{%if data%}
<ul class="pagination pagination-sm no-margin pull-right">
    <li>
        <a href="{{url_for(url,page=1)}}" aria-label="First">
            <span aria-hidden="true">First</span>
        </a>
    </li>
    {% if data.has_prev%}
    <li><a href="{{url_for(url,page=data.prev_num)}}"><span>Prev</span></a></li>
    {%else%}
    <li class="disabled"><a href="#"><span>Prev</span></a></li>
    {%endif%}

    {%for v in data.iter_pages()%}
        {%if v==data.page%}
            <li class="active"><a href="#">{{v}}</a></li>
        {%else%}
            <li><a href="{{url_for(url,page=v)}}">{{v}}</a></li>
        {%endif%}
    {%endfor%}

    {% if data.has_next%}
    <li><a href="{{url_for(url,page=data.next_num)}}"><span>Next</span></a></li>
    {%else%}
    <li class="disabled"><a href="#"><span>Next</span></a></li>
    {%endif%}
    <li>
        <a href="{{url_for(url,page=data.pages)}}" aria-label="Last">
            <span aria-hidden="true">Last</span>
        </a>
    </li>
</ul>
{%endif%}
{%- endmacro%}